.overall {
   max-width: 1300px;
   position: relative;
   margin: 0 auto;
//    overflow: hidden;
}

.header-right {
    height: 25px;
}

.header-link {
    text-decoration: none;
}

.logo {
    padding-right: 20px;
    font-size: 35px;
    color: #f56416;
    font-family: 'Merriweather', serif;
}

.header {
    cursor: pointer;
    border-bottom: 1px solid #e5e4e2;
    width: 100%;
    // display: flex;
    // justify-content: space-between;
    min-width: 1300px;
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
    //font-family: 'Arimo', sans-serif;
    // font-family: "-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif";
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-left: 12%;
    // margin-right: 12%;
    padding-top: 4px;
    padding-bottom: 6px;
}

.navbar-left {
    display: flex;
    width: 50%;
    min-width: 555px;
}

.navbar-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 66px;
    font-size: 16px;
    font-family: inherit;
    font-weight: 250;
}

.navbar-right-user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 66px;
    font-size: 16px;
    font-family: inherit;
    font-weight: 250;
    padding-top: 10px;
}

.register, .sell {
    cursor: pointer;
    font-size: 14px;
    color:black;
    background-color: white;
    border: 0px;
    text-decoration: none;
    margin-right: 12px;
    font-weight: 400;
}

.register:hover, .sell:hover {
    text-decoration: underline;
    color: #888;
}

.login {
    font-size: 15px;
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
    color:black;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 1px solid;
    border-radius: 5px;
    margin-right: 12px;
    font-weight: 400;
}

.login:hover{ 
    cursor: pointer;
    background-color: black;
    color: white;
    margin-right: 12px;
    /* opacity: 0.3; */
}

.login:focus {
    outline: none;
}

.username {
    color: black;
    text-decoration: none;
}

.fa-shopping-cart{
    font-size: 24px;
    margin-top: 1px;
    padding-left: 0px;
    color: gray
}

.fa-shopping-cart:hover{
    color: black;
}

.fa-user-circle{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 200;
}

#cart-button {
    background-color: white;
    border: 0px solid white;
    margin-top: 16px;
    // padding-top: 4px; 
}

.cart-label {
    text-align: center; 
    color: #595959;
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 0px; 
    // padding-top: 2px; 
    // padding-left: 5px; 
    // margin-right: 30px;
 }